[submodule "isomorphic-git-pgp-plugin-but-webpack-is-run-on-it"]
	path = isomorphic-git-pgp-plugin-but-webpack-is-run-on-it
	url = https://github.com/samalws/isomorphic-git-pgp-plugin-but-webpack-is-run-on-it
