body {
	background-color: #FFAA66;
	font-family: "arial", "sans-serif";
	font-weight: bold;
}
h1 {
	color: #008080;
	font-size: 20pt;
}
a {
	color: black;
}
a:hover {
	color: #008080;
	transition: color .35s ease;
}
#displayArea {
	display: grid;
	grid-template-columns: max-content;
	grid-template-areas: "_ __";
}
h1, a, p {
	margin: 0;
}
#mainSection {
	padding-left: 10%;
}
